.Navigation {
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.nav-link.active {
    font-weight: bold;
    color: black;
}

.navbar-brand {
    font-family: Obrazec;
    font-size: 2rem;
    color: black;
}

@font-face {
    font-family: Obrazec;
    src: url(./Obrazec.otf);
}